<!--
 Copyright 2016 BlazeMeter Inc.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 http://www.apache.org/licenses/LICENSE-2.0
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<html>
  <head>
    <title>BlazeMeter Administration</title>
    <meta name="decorator" content="atl.admin">
    ${webResourceManager.requireResource("com.blazemeter.bamboo.plugin.BlazeMeterBamboo:BlazeMeterResources")}
  </head>
  <body>
    <form id="blazemeteradmin" class="aui" method="POST">
      <div class="field-group">
        <label for="name">${i18n.getText("blazemeter.admin.userkey")}</label>
        <input type="text" id="userkey" name="userkey" class="text" value="${userkey}">
        <br />
        <span class="errorText">${userkey_error}</span>

     </div>
        <div class="field-group">
            <label for="name">${i18n.getText("blazemeter.admin.url")}</label>
            <input type="text" id="url" name="url" class="text" value="${url}">
            <br />
            <span class="errorText">${url_error}</span>
        </div>
     <div class="field-group">
        <input type="submit" value="Save" class="button">
      </div>
    </form>
  </body>
</html>