<html>
  <head>
    <title>BlazeMeter Administration</title>
    <meta name="decorator" content="atl.admin">
    ${webResourceManager.requireResource("com.blazemeter.bamboo.plugin.BlazeMeterBamboo:BlazeMeterResources")}
  </head>
  <body>
    <form id="blazemeteradmin" class="aui" method="POST">
      <div class="field-group">
        <label for="name">${i18n.getText("blazemeter.admin.userkey")}</label>
        <input type="text" id="userkey" name="userkey" class="text" value="${userkey}">
        <br />
        <span class="errorText">${userkey_error}</span>

     </div>
        <div class="field-group">
            <label for="name">${i18n.getText("blazemeter.admin.url")}</label>
            <input type="text" id="url" name="url" class="text" value="${url}">
            <br />
        </div>
      <div class="field-group">
        <label for="name">${i18n.getText("blazemeter.admin.proxyserver")}</label>
        <input type="text" id="proxyserver" name="proxyserver" class="text" value="${proxyserver}"><span class="errorText">${proxyserver_error}</span>
        <br />
        
        <label for="name">${i18n.getText("blazemeter.admin.proxyport")}</label>
        <input type="text" id="proxyport" name="proxyport" class="text" value="${proxyport}"><span class="errorText">${proxyport_error}</span>
        <br />
        
        <label for="name">${i18n.getText("blazemeter.admin.proxyuser")}</label>
        <input type="text" id="proxyuser" name="proxyuser" class="text" value="${proxyuser}"><span class="errorText">${proxyuser_error}</span>
        <br />
        
        <label for="name">${i18n.getText("blazemeter.admin.proxypass")}</label>
        <input type="text" id="proxypass" name="proxypass" class="text" value="${proxypass}"><span class="errorText">${proxypass_error}</span>
        <br />
        
      </div>
        <!--[@ww.select cssClass="builderSelectWidget" labelKey='API Version' name='api_version' list='apiversionlist' required='true' emptyOption='false'/]-->
<!--
        <div class="field-group">
        <label>API version:</label>
        <select id="api_version" name="api_version">
            <option value="autoDetect">Auto Detect</option>
            <option value="v3">V3(force)</option>
            <option value="v2">V2(deprecated)</option>
        </select>
    </div>-->
      <div class="field-group">
        <input type="submit" value="Save" class="button">
      </div>

    </form>
  </body>
</html>